.agents {
  background-image: url("https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/b9f3efa9355803cc44e4c59d3f4437cab192bec3-5120x1616.png?auto=format&fit=fill&q=80&h=640");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.agent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .agent-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .title-val {
    font-size: 1rem !important;
  }
  .desc-val {
    font-size: small !important;
  }
}
