.top-content {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  gap: 32px;
  margin-top: -20%;
  transform: translateY(-20%);
}
.hero {
  position: relative;
  height: 100vh;
  width: 99.2vw;
}
video {
  position: relative;
  object-fit: cover;
  height: 100vh;
  width: inherit;
}

@media (max-width: 768px) {
  .top-content {
    gap: 16px;
    margin-top: -40%;
    transform: translateY(-40%);
  }
  .hero {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  video {
    height: 80vh;
    width: 100vw;
  }
}
