.you-diff {
  background-image: url("https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/9f1f314d2a56ebb3f3cbcac28b31b4bc19683cf2-3840x1400.png?auto=format&fit=fill&q=80&h=1280");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
